<div class="text-center">
  <%= form_with(model: @apartment, url: admins_apartment_path) do |form| %>
    <%= render "form", apartment: @apartment, form: form %>
  <% end %>
  <br>

  <div>
    <%= link_to "Show this apartment", @apartment, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
    <%= link_to "Back to apartments", apartments_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
  </div>
</div>
