<%= stylesheet_link_tag("apartment") %>
<p class="text-green-500"><%= notice %></p>
<div id="apartments" class="flex space-x-8">
  <% @apartments.each do |apartment| %>
    <%= render apartment %>
  <% end %>
</div>
