<%= stylesheet_link_tag("apartment") %>
<p class="text-green-500"><%= notice %></p>
<div id="apartments" class="grid grid-cols-6 gap-6 justify-items-center">

  <% @apartments.each do |apartment| %>
    <%= render "index", apartment: apartment %>
  <% end %>
</div>
<div class="mb-4"></div>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
